.responsive-title {
    font-size: clamp(1rem, 5vw, 2rem);
}

.responsive-registration input[type="text"] {
    font-size: clamp(3.5rem, 10vw, 4rem);
}

.text-upper input {
    text-transform: uppercase;
}

.ai-html li {
    margin-left: 1.5rem;
}

#initialLoader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(50, 51, 61, 0.6);
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #4ba3e2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}