@using VehicleDetailsLookup.Shared.Helpers
@using VehicleDetailsLookup.Shared.Models.Lookup

@if (_lookups.Any())
{
    <div style="max-height: 384px; overflow-y: auto;">
        <MudList T="ILookupModel" Dense="true">
            @foreach(var lookup in _lookups)
            {
                <MudListItem T="ILookupModel" Value="@lookup">
                    <MudText Typo="Typo.subtitle2" Inline="true">@GetTimeSpan(lookup.DateTime) | </MudText>
                    <MudText Typo="Typo.caption" Color="Color.Primary">@lookup.DateTime.ToString("yyyy-MM-dd HH:mm")</MudText>
                </MudListItem>
            }
        </MudList>
    </div>
}
else
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="64px" Width="240px"></MudSkeleton>
}