@page "/"
@page "/{RegistrationNumberUrlInput?}"
@using VehicleDetailsLookup.Client.Components.UI.RecentLookups
@using VehicleDetailsLookup.Client.Components.UI.RegistrationInput
@using VehicleDetailsLookup.Client.Components.UI.VehicleDetails

<PageTitle>@PageTitle</PageTitle>

<RegistrationInput Vehicle="@_vehicle"></RegistrationInput>

<RecentLookups IsHidden="@IsRecentLookupsHidden"></RecentLookups>

<VehicleDetails Vehicle="@_vehicle"></VehicleDetails>

<footer class="mt-6" style="text-align:center; padding: 1rem 0;">
    <MudText Color="Color.Primary" Typo="Typo.body2">
        <a href="https://forms.gle/LacFPfTuAA3ZD5ae6" target="_blank" rel="noopener noreferrer">Report an Issue</a>
        &nbsp;|&nbsp;
        <a href="https://github.com/dillsa1299/VehicleDetailsLookup" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
    </MudText>
</footer>