@if (!IsHidden)
{
    <MudGrid>
        <MudItem md="4" />
        <MudItem xs="12" md="4" Class="mx-auto">
            <div class="d-flex flex-column align-center justify-center mt-6">
                @if (_loading)
                {
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" Width="100%"></MudSkeleton>
                }
                else
                {
                    <MudList T="string">
                        @foreach (var lookup in _recentLookups)
                        {
                            <MudListItem Icon="@Icons.Material.Filled.Search"
                                         OnClick="@(async () => await HandleLookupClick(lookup.RegistrationNumber))">
                                <ChildContent>
                                    <MudText Typo="Typo.body2">
                                        <b>@lookup.RegistrationNumber</b>
                                        <MudText Typo="Typo.body2" Color="Color.Primary" Inline=true>
                                            &nbsp;|&nbsp;
                                        </MudText>
                                        @lookup.Details
                                    </MudText>
                                </ChildContent>
                            </MudListItem>
                        }
                    </MudList>
                }
            </div>
        </MudItem>
        <MudItem md="4" />
    </MudGrid>
}