<EditForm Model="@_registrationInput" OnValidSubmit="LookupRegistration">
    <div class="center-content">
        <div class="uk-plate">
            <div class="uk-plate-band">
                <img src="images/uk-flag.svg" alt="UK" class="uk-plate-flag" />
                <span class="uk-plate-country">GB</span>
            </div>
            <input class="uk-plate-input"
                   id="Registration.Input"
                   @bind="_registrationInput.Input"
                   @bind:event="oninput"
                   placeholder="AB12 CDE"
                   autocomplete="off"
                   spellcheck="false"
                   maxlength="8" />
        </div>
        <MudIconButton Class="registration-search" Icon="@Icons.Material.Filled.Search" Color="Color.Primary" Size="Size.Large" OnClick="@LookupRegistration" />
    </div>
    
</EditForm>